.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button_container {
	margin-top: 200px;
	text-align: center;
}

.button {
	background-color: green;
	border: none;
	color: white;
	font-size: 16px;
	height: 40px;
	width: 200px;
}
